.card-float {
  margin-left: 12px;
  float: right;
}

@media (max-width: 560px) {
  .card-float {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.card-float,
.card-float table tr,
.card-float div {
  border-color: #adb5bd !important;
}