#characters {
	margin-bottom: 1rem;
	display: grid;
	grid-gap: 1rem;

	.character:hover {
		transform: scale(110%);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
	}

	.character {
		z-index: 500;
		display: grid;
		position: relative;
		transition: 0.3s;
		width: 100%;
		height: 100%;

		.card-img {
			width: 100%;
			img {
				width: 100%;
				height: 100%;
			}
		}

		.card-body {
			flex-direction: column;
			display: flex;
			justify-content: end;
			align-items: center;
			padding: 3px;
		}
		.card-tag {
			align-self: auto;
			justify-self: end;
		}
	}

	@media (min-width: 993px) {
		grid-template-columns: repeat(5, minmax(18%, 20%));
	}
	@media (max-width: 992px) {
		grid-template-columns: repeat(4, minmax(22%, 25%));
	}
	@media (max-width: 750px) {
		grid-template-columns: repeat(3, minmax(29%, 33.3%));
	}
	@media (max-width: 480px) {
		grid-template-columns: repeat(2, minmax(45%, 50%));
	}
}
