@font-face {
  font-family: "Genshin Impact";
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/genshin_impact.woff2') format("woff2");
  font-display: swap;
}

* {
  font-family: "Genshin Impact" !important;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .rounded-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

*:before, *:after {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.bg-img {
  background-image: url('./assets/images/backround.webp');
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#page {
  flex: 1 1 auto;


  section {
    min-height: 100%;
  }
}

#footer {
  height: fit-content;
}

#header {
  height: fit-content;

  nav {
    .dropdown {
      transition: 1s;
      -webkit-animation: 1s;
      animation: 1s;
    }

    .nav-item {
      transition: 1s;
    }
  }
}

.font {
  font-size: 15px;
  height: 22px;
}

.fs-8 {
  font-size: 14px !important;
}

.common {
  background-image: url("./assets/images/rarity/bg-2-star.webp") !important;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}

.trash {
  background-image: url('./assets/images/rarity/bg-1-star.webp') !important;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}

.legendary {
  background-image: url('./assets/images/rarity/bg-5-star.webp') !important;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}

.epic {
  background-image: url('./assets/images/rarity/bg-4-star.webp') !important;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}

.rare {
  background-image: url('./assets/images/rarity/bg-3-star.webp') !important;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
}

.text-justify {
  text-align: justify;
}

.fs-7 {
  font-size: 15px !important;
}

