.skill_item {
  background: gray;
  border-radius: 40px;
  padding: 4px;
  text-align: center;
  transition: .1s ease-in;
}

.skill_icon {
  transition: .1s ease-in;
  outline: none;
  transform: scale(70%);
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.nav-link {
  color: black;
  cursor: pointer;
}

.nav-pills {
  .nav-item:first-child {
    .nav-link {
      border-top-left-radius: 0.25rem !important;
      border-top-right-radius: 0.25rem !important;
    }
  }

  .nav-item:last-child {
    .nav-link {
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }

    .nav-link .active {
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }
  }
}

.nav-link:hover {
  .active {
  }
  .skill_item {
    transform: scale(110%);
  }
  .skill_icon {
    transform: scale(80%);
  }
}

.nav-pills .nav-link.active {
  background-color: #2b69e9;
  .skill_icon {
    transform: scale(100%)!important;
  }

  .skill_item {
    background: none !important;

  }
}