.skill_icon {
  background: gray;
  border-radius: 40px;
  padding: 4px;
  transition: .1s ease-in;
  outline: none;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.nav-link {
  color: black;
  cursor: pointer;
}

.nav-pills {
  .nav-item:first-child {
    .nav-link {
      border-top-left-radius: 0.25rem !important;
      border-top-right-radius: 0.25rem !important;
    }
  }

  .nav-item:last-child {
    .nav-link {
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }

    .nav-link .active {
      border-bottom-left-radius: 0.25rem !important;
      border-bottom-right-radius: 0.25rem !important;
    }
  }
}

.nav-link:hover {
  .skill_icon {
    transform: scale(105%);
  }
}

.nav-pills .nav-link.active {
  background-color: #2b69e9;


  .skill_icon {
    background: none !important;
    border-radius: 0;
    padding: 1px;
  }
}