.skill_icon {
  background: gray;
  border-radius: 40px;
  padding: 3px;
}

.skill_icon:active {
  background: none;
  border-radius: 40px;
  padding: 3px;
}

.nav-link {
  color: black;
}
.nav-pills .nav-link.active {
  background-color: #2b69e9;
}