#weapons {
  margin-bottom: 1rem;

  .weapon:hover {
    transform: scale(110%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;

    #text {
      opacity: 100%;
    }
  }

  display: grid;

  grid-gap: 1rem;


  .weapon {
    z-index: 321;
    position: relative;
    display: grid;
    grid-column: 100%;
    transition: 0.3s;
    width: 100%;
    height: 100%;

    .card-img {
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    #text {
      width: 100%;
      transition: .3s;
      position: absolute;
      bottom: 0;
      opacity: 0;
    }

    .card-body {
      //height: 9%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px;
    }
  }
}
.fs-9 {
  font-size: 10pt;

}
@media (max-width: 851px) {
  .fs-9 {
    font-size: 8pt;
  }
  #text {
    position: relative;

    opacity: 100% !important;
  }
}