#banners #banner {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
#banners #banner:hover {
  -webkit-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}